*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.main {
    overflow: hidden;
}

body {

    overflow-x: hidden;
}

.medcall {
    padding: 80px;
}

.text {
    padding: 80px;
}


.text h4 {
    color: var(--primary-100,#135063);
    font-size: 24px;
    font-weight: 600;
}

.text p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.btn {
    background-color: var(--primary-100,#135063) !important;
    width: 90%;
    padding: 16px;
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 400;
    border: none !important;
}


/* right side of the form */
.bg-success {
    background: #135063 !important;
    position: relative;
    overflow: hidden;
}

.eclips-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.eclips {
    width: 500px;
    height: 500px;
    border: 1.064px dashed #8BF0FE;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    position: absolute;
    top: 18%;
    overflow: hidden;
}

.eclips-1 {
    width: 150px;
    height: 150px;
    border: 1.064px dashed #8BF0FE;
    border-radius: 50%;
    animation: rotate 900ms linear infinite;
    position: absolute;
    top: 63%;
    right: -10px;
    overflow: hidden;
}

.eclips-2 {
    width: 160px;
    height: 160px;
    border: 1.064px dashed #8BF0FE;
    border-radius: 50%;
    animation: rotate 900ms linear infinite;
    position: absolute;
    top: 9%;
    right: -10px;
    overflow: hidden;
}

.eclips-3 {
    width: 150px;
    height: 150px;
    border: 1.064px dashed #8BF0FE;
    border-radius: 50%;
    animation: rotate 900ms linear infinite;
    position: absolute;
    top: 55%;
    right: -90px;
    overflow: hidden;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    display: none;
    overflow: hidden;
}

.item-circle1 {
    width: 90px;
    height: 90px;
    background: #8BF0FE;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: -1px;
    display: none;
    overflow: hidden;
}

.item-circle2 {
    width: 20px;
    height: 20px;
    background: #8BF0FE;
    border-radius: 50%;
    position: absolute;
    left: 35%;
    top: 10%;
    display: none;
    overflow: hidden;
}

.item-circle3 {
    width: 50px;
    height: 50px;
    background: #8BF0FE;
    border-radius: 50%;
    position: absolute;
    right: -8px;
    top: 7%;
    display: none;
    overflow: hidden;
}

.item-circle4 {
    width: 40px;
    height: 40px;
    background: #8BF0FE;
    border-radius: 50%;
    position: absolute;
    top: 61%;
    left: 5%;
    display: none;
    overflow: hidden;
}


.item-circle5 {
    width: 15px;
    height: 15px;
    background: #8BF0FE;
    border-radius: 50%;
    position: absolute;
    right: 120px;
    top: 20%;
    display: none;
    overflow: hidden;
}

.item-circle6 {
    width: 10px;
    height: 10px;
    background: #8BF0FE;
    border-radius: 50%;
    position: absolute;
    bottom: 2%;
    left: 30%;
    display: none;
    overflow: hidden;
}

.item-circle7 {
    width: 350px;
    height: 70px;
    background: #8BF0FE;
    border-radius: 40px;
    position: absolute;
    transform: rotate(22.852deg);
    top: 92.2%;
    right: -130px;
    display: none;
    overflow: hidden;
}

.item-circle8 {
    width: 10px;
    height: 10px;
    background: #8BF0FE;
    border-radius: 50%;
    position: absolute;
    bottom: 33%;
    left: 95%;
    display: none;
    overflow: hidden;
}

.load {
    border: 5px solid #fff;
    border-top: 5px solid #135063;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes zoom {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.form-img {
    height: 400px;
    margin-bottom: 60px;
    margin-top: 100px;
}

.title-wrapper {
    margin-bottom: 100px;
}

.title-wrapper h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
}

.title-wrapper p {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

/* ends here */



@media only screen and (max-width: 1030px) {
    .form-wrapper {
        padding: 30px;
    }

    .item-circle7 {
        width: 350px;
        height: 70px;
        background: #8BF0FE;
        border-radius: 40px;
        position: absolute;
        transform: rotate(22.852deg);
        top: 96%;
        right: -180px;
        display: none;
    }

    .main {
        min-height: 100vh;
    }

    .bg-success {
        min-height: 100vh;
    }

    .form-img {
        height: 300px;
        width: 300px;
        margin-bottom: 60px;
        margin-top: 100px;
    }

    .cg {
        row-gap: 20px;
    }

    .eclips {
        width: 360px;
        height: 360px;
        border: 1.064px dashed #8BF0FE;
        border-radius: 50%;
        animation: rotate 1s linear infinite;
        position: absolute;
        top: 18%;
    }
    
    .eclips-1 {
        width: 150px;
        height: 150px;
        border: 1.064px dashed #8BF0FE;
        border-radius: 50%;
        animation: rotate 900ms linear infinite;
        position: absolute;
        top: 55%;
        right: -10px;
    }
    
    .eclips-2 {
        width: 140px;
        height: 140px;
        border: 1.064px dashed #8BF0FE;
        border-radius: 50%;
        animation: rotate 900ms linear infinite;
        position: absolute;
        top: 9%;
        right: -10px;
    }
    
    .eclips-3 {
        width: 150px;
        height: 150px;
        border: 1.064px dashed #8BF0FE;
        border-radius: 50%;
        animation: rotate 900ms linear infinite;
        position: absolute;
        top: 50%;
        right: -90px;
    }

    .title-wrapper {
        padding-top: 150px !important;
    }
}

@media only screen and (max-width: 770px) {

    .medcall {
        padding: 30px !important;
    }

    .text {
        padding: 30px !important;
    }

    .title-wrapper {
        padding-top: 0px !important;
        padding-left: 30px;
    }

    .item-circle7 {
        width: 350px;
        height: 70px;
        background: #8BF0FE;
        border-radius: 40px;
        position: absolute;
        transform: rotate(22.852deg);
        top: 96%;
        right: -220px;
        display: none;
    }

    .main {
        min-height: 100vh;
    }

    .bg-success {
        min-height: 100vh;
    

    }

    .btn {
        background-color: var(--primary-100,#135063) !important;
        width: 100%;
        padding: 16px;
        color: #ffffff !important;
        font-size: 14px;
        font-weight: 400;
        border: none !important;
    }
    

    .title-wrapper {
        padding-top: 50px !important;
    }

    .form-img {
        height: 300px;
        width: 300px;
        margin-bottom: 60px;
        margin-top: 100px;
    }

    .eclips {
        width: 360px;
        height: 360px;
        border: 1.064px dashed #8BF0FE;
        border-radius: 50%;
        animation: rotate 1s linear infinite;
        position: absolute;
        top: 20%;
    }
    
    .eclips-1 {
        width: 150px;
        height: 150px;
        border: 1.064px dashed #8BF0FE;
        border-radius: 50%;
        animation: rotate 900ms linear infinite;
        position: absolute;
        top: 55%;
        right: -10px;
    }
    
    .eclips-2 {
        width: 140px;
        height: 140px;
        border: 1.064px dashed #8BF0FE;
        border-radius: 50%;
        animation: rotate 900ms linear infinite;
        position: absolute;
        top: 9%;
        right: -10px;
    }
    
    .eclips-3 {
        width: 150px;
        height: 150px;
        border: 1.064px dashed #8BF0FE;
        border-radius: 50%;
        animation: rotate 900ms linear infinite;
        position: absolute;
        top: 50%;
        right: -90px;
    }
}